<div class="post">
    <h2><%= link_to post.title, :controller => "posts", :action => "show", :id => post.id %></h2>
    <span class="time"><%= time_ago_in_words(post.updated_at) %> ago</span> by 
    <span class="author"><%= post.author.name %></span><br/>
    <div class="body">
        <%= textilize(post.body) %>
    </div>
</div>
